/* mixin */
@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-layout($direction:row, $justify:center, $align:center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin round-button($bg:var(--main-color),$color:var(--main-font)){
    width: 100%;
    padding: 0.5rem 0.7rem;
    background-color: $bg;
    color: $color;
    font-weight: bold;
    cursor: pointer;
    border: 1.5px solid var(--main-font);
    // outline: 1px solid var(--main-font);
    outline: none;
    border-radius: 2rem;
    &:hover{
        // filter: brightness(0.7);
        background-color: var(--main-font);
        color: var(--main-color);
    }
}